*{
    margin: 0 ; 
    padding: 0 ;
    box-sizing :border-box;
    font-family: "Gilroy";
}

html, body{
    height: 100%;
    width :100%;
}

.main{
    height :100%;
    width:100%;
    position:relative;
}

.nav{
    height:100px;
    width:100%;
    
    display:flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #dadada;
}

.nav-part2 {
    color:black;
    display:flex;
    justify-content: center;
    gap:4vw;
    padding:3vw;
    margin-right:1vw
}

h1{
    color:black;
    padding:3vw;
    font-weight: 600;
}

.nav i {
    font-size: 1.6vw;
    font-weight:800 ;
    display: none;
}

@media(max-width:600px){
    .nav h2 {
        display :none;
        
    }
    .nav i {
        display:block;
        font-weight:600;
        font-size:6vw;
    }
}


   